$grey: rgba(0, 0, 0, .5);
$blue: rgba(0, 0, 100, .5);
$yellow: rgba(100, 100, 0, .5);

.alert {
  border: .2em solid currentColor;
  color: $grey;
  margin-bottom: 1em;
  padding: 1em;

  &__title {
    margin: 0;
    padding: 0;
  }

  &__content {
    margin: 0;
    padding: 0;
  }

  &--info {
    color: $blue;
  }

  &--warning {
    color: $yellow;
  }
}
