// sass-lint:disable-all
@font-face {
  font-family: 'Styleguide-icons';
  src:
    url('../fonts/styleguide-icons/fonts/Styleguide-icons.ttf?3etcdp') format('truetype'),
    url('../fonts/styleguide-icons/fonts/Styleguide-icons.woff?3etcdp') format('woff'),
    url('../fonts/styleguide-icons/fonts/Styleguide-icons.svg?3etcdp#Styleguide-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="styleguide-icon-"], [class*=" styleguide-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Styleguide-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.styleguide-icon-atoms:before {
  content: "\e900";
}
.styleguide-icon-burger:before {
  content: "\e901";
}
.styleguide-icon-cross:before {
  content: "\e902";
}
.styleguide-icon-desktop:before {
  content: "\e903";
}
.styleguide-icon-mobile:before {
  content: "\e904";
}
.styleguide-icon-molecules:before {
  content: "\e905";
}
.styleguide-icon-organisms:before {
  content: "\e906";
}
.styleguide-icon-tablet:before {
  content: "\e907";
}
.styleguide-icon-templates:before {
  content: "\e908";
}
.styleguide-icon-tick:before {
  content: "\e909";
}


// sass-lint:enable-all
