// scss-lint:disable all
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/styleguide-icons/fonts/icomoon.eot?mwri56');
  src: url('../fonts/styleguide-icons/fonts/icomoon.eot?mwri56#iefix') format('embedded-opentype'),
    url('../fonts/styleguide-icons/fonts/icomoon.ttf?mwri56') format('truetype'),
    url('../fonts/styleguide-icons/fonts/icomoon.woff?mwri56') format('woff'),
    url('../fonts/styleguide-icons/fonts/icomoon.svg?mwri56#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-atoms:before {
  content: "\e900";
}
.icon-burger:before {
  content: "\e901";
}
.icon-cross:before {
  content: "\e902";
}
.icon-desktop:before {
  content: "\e903";
}
.icon-mobile:before {
  content: "\e904";
}
.icon-molecules:before {
  content: "\e905";
}
.icon-organisms:before {
  content: "\e906";
}
.icon-tablet:before {
  content: "\e907";
}
.icon-templates:before {
  content: "\e908";
}
.icon-tick:before {
  content: "\e909";
}
// scss-lint:enable all
