@import 'node_modules/normalize.css/normalize';

// No base element styling in the styleguide
@import 'styleguide/base/variables';
@import 'styleguide/base/icons';

@import '../app/styleguide/**/*';

* {
  box-sizing: border-box;
}

.sg {
  margin: 0;
  padding: 0;
}
