.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {

  }

  &__link {
    color: inherit;
    display: block;
    padding: 1em;
    text-decoration: none;
  }

  @media screen and (min-width: 50em) {
    &__item {
      display: inline-block;
    }
  }
}
