.sg-nav {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    //
  }

  &__link {
    border-left: $sg-nav-border-width $border-style $sg-nav-border-color;
    color: $sg-nav-color;
    display: block;
    line-height: $line-height;
    padding: $spacing-vertical $spacing-horizontal $spacing-vertical ($spacing-horizontal - $sg-nav-border-width);
    text-decoration: none;

    &--active {
      border-left-color: $sg-nav-border-color-active;
      color: $sg-nav-color-active;
    }
  }
}
