.input-text {
  padding: 1em;

  &__error {
    clear: both;
  }

  &__input {
    appearance: none;
    -webkit-appearance: none;
    border: .2em solid rgba(0, 0, 0, .5);
    display: block;
    max-width: 100%;
    padding: .5em;
    width: 100%;
  }

  @media screen and (min-width: 50em) {
    &__inner {
      overflow: hidden;
    }

    &__label {
      float: left;
      width: 50%;
    }

    &__input-wrap {
      float: right;
      width: 50%;
    }
  }

  &--error {
    .input-text__input-wrap {
      margin-bottom: 1em;
    }

    .input-text__input {
      border-color: rgba(100, 0, 0, .5);
    }
  }
}
