.input-text {
  padding: 1em;

  &__inner {

  }

  &__label {

  }

  &__input-wrap {

  }

  &__input {
    appearance: none;
    -webkit-appearance: none;
    border: .2em solid rgba(0, 0, 0, .5);
    display: block;
    max-width: 100%;
    padding: .5em;
    width: 100%;
  }

  &--error {
    .input-text__input-wrap {
      margin-bottom: 1em;
    }

    .input-text__input {
      border-color: rgba(100, 0, 0, .5);
    }
  }
}
