body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

code {
  background: rgba(0, 0, 0, .1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2) inset;
  display: block;
  margin: 1em 0;
  overflow: auto;
  padding: 1em;
}
